@use "sass:color";

body {
  --factor: 1.1;

  @media screen and (min-width: 900px) {
    --factor: 2;
  }

  --color-sponge: #ff3;
  --color-black: #101;
  --color-black-light: rgba(10, 0, 10, 0.4);
  --color-white: #fff;
  --color-red: #a50000;
  --color-red-light: rgba(165, 0, 0, 0.4);
}