<script setup lang="ts">
import { GameStateDto } from '../dto/GameStateDto';
import ActivePlayerListC from "./ActivePlayerListC.vue";
import TimerC from "./TimerC.vue";
const props = defineProps < {
    gameState: GameStateDto
} > ()

</script>

<template>
    <h2>Si tu pense avoir répéré un impongsteur (un humain), dénonce le !</h2>
    <h3>(Attention, si tu te trompe, c'est toi qui est éjecté du jeu jusqu'a la prochaine partie)</h3>
    <ActivePlayerListC class="playersAccused" :gameState="props.gameState"></ActivePlayerListC>
    <TimerC class="timer" :countdown="gameState.countDown" :given-time="gameState.givenTime" size="6rem" />
</template>


<style lang="scss">

.playersAccused {
    .player:hover {
        cursor: crosshair;
    }
}

</style>