<script setup lang="ts" >
import { GameStateDto } from '../dto/GameStateDto';
import { inject } from 'vue';
import { ClientChannel } from '@geckos.io/client';
import PlayerC from "./PlayerC.vue";
import MessageC from "./MessageC.vue";
defineProps<{
    gameState: GameStateDto
}>()
const channel = inject<ClientChannel>('channel');
const currentPlayerId = channel?.id;

function sendAccusation(id: string) {
    channel?.emit('accusePlayer', id, {reliable: true})
}
</script>


<template>
    <section class="active-players_section">
        <h2><p>Detective</p>
            <p>Suspects</p></h2>
        <ul>
            <li v-for="(player, i) of gameState.inGamePlayers"
                :key="player.id" 
                
                :class="i === 0 ? 'playerContainer detective':'playerContainer'">
                <button v-if="gameState.name === 'AccusationsGameState' && currentPlayerId != player.id" @click="sendAccusation(player.id)">Tu es un humain !</button>
                <PlayerC class="player" :player="player" :isDetective="i === 0" :currPlayerId="currentPlayerId"/>
                <MessageC class="message" :message="player.speech"/>
            </li>
        </ul>
    </section>
</template>

<style lang="scss" scoped>

.active-players_section {

    position: relative;
    flex: 1 1 auto;
    padding: .5rem;

    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;

    h2 {
      font-size: calc(var(--factor) * 1.5rem);
      flex: 0 1 auto;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: calc(var(--factor) * 0.4rem) calc(var(--factor) * .9rem) calc(var(--factor) * 0.9rem);

    }

    ul {
      display: grid;
      grid-template-columns: 1.5fr 5fr 1fr;
      gap: calc(var(--factor) * 1.5rem);

      padding: 0;
      width: 100%;
      height: 100%;

      li {
        grid-column: 2 / 4;
        height: 100%;
        width: 100%;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-end;

        &.detective {
          grid-column: 1 / 3;
          grid-row: 1;

          align-items: flex-start;

          .message {
            margin-left: calc(var(--factor) * 2rem);
            margin-right: 0;
          }
        }

        &:first-of-type {
          margin-bottom: 2rem;
        }

        .message {
          max-width: 95%;
          margin-right: calc(var(--factor) * 2rem);
          margin-top: calc(var(--factor) * .5rem);
        }

        @media screen and (min-width: 900px) {
          display: flex;
          flex-flow: row-reverse;
          justify-content: flex-start;
          align-items: flex-end;
          &.detective {
            flex-flow: row;
            justify-content: flex-start;
            align-items: flex-end;

            .message {
              margin-left: calc(var(--factor) * 1rem);
              margin-right: 0;
              margin-top: 0;
            }
          }

          .message {
            margin-left: 0;
            margin-right: calc(var(--factor) * 1rem);
            margin-top: 0;
          }


          &:first-of-type {
            margin-bottom: 2rem;
          }
        }

      }
    }

    .countdown {
      position: absolute;
      left: .5rem;
      bottom: .5rem;
      max-width: calc(var(--factor) * 9rem);
      max-height: calc(var(--factor) * 9rem);
      font-size: calc(var(--factor) * 2rem);
    }
  }

</style>