<script setup lang="ts">
import { GameStateDto } from '../dto/GameStateDto';
import SpeakPopinC from "./SpeakPopinC.vue";
import ActivePlayerListC from "./ActivePlayerListC.vue";
import { computed, inject } from 'vue';
import { ClientChannel } from '@geckos.io/client';
const props = defineProps<{
    gameState: GameStateDto
}>()

const channel = inject<ClientChannel>('channel')
const currentPlayerId = channel?.id

const theDetectiveQuestion = computed(() => {
    return props.gameState.inGamePlayers[0].speech
})

const youAreTheDetective = computed(() => {
    return props.gameState.inGamePlayers[0].id === currentPlayerId
})

</script>

<template>
    <h2>Faite vous passer pour Bob l'éponge !</h2>
<ActivePlayerListC :gameState="props.gameState"></ActivePlayerListC>
<SpeakPopinC v-if="!youAreTheDetective" :gameState="gameState"
    instructions="Répondez à la question du détective"
    placeholder="tapez ici la réponse">
</SpeakPopinC>
</template>


<style lang="scss" scoped></style>