<script setup lang="ts">
import { GameStateDto } from '../dto/GameStateDto';
import SpeakPopinC from "./SpeakPopinC.vue";
import ActivePlayerListC from "./ActivePlayerListC.vue";
import { computed, inject } from 'vue';
import { ClientChannel } from '@geckos.io/client';
const props = defineProps<{
    gameState: GameStateDto
}>()

const channel = inject<ClientChannel>('channel')
const currentPlayerId = channel?.id

const youAreTheDetective = computed(() => {
    return props.gameState.inGamePlayers[0].id === currentPlayerId
})

</script>

<template>
    <ActivePlayerListC :gameState="props.gameState"></ActivePlayerListC>

    <SpeakPopinC v-if="youAreTheDetective" :gameState="gameState"
        instructions="Posez une question aux autres Bob pour démasquer les impongsteur ! (les impongsteurs sont les joueurs humains)"
        placeholder="met ta question ici">
    </SpeakPopinC>
</template>


<style lang="scss" scoped></style>