<script setup lang="ts">
import { GameStateDto } from '../dto/GameStateDto';
import LobbyPlayerListC from "./LobbyPlayerListC.vue";
import TimerC from "./TimerC.vue";
const props = defineProps < {
    gameState: GameStateDto
} > ()
</script>

<template>
    <h2>En attente de joueurs</h2>
    <h2 v-if="gameState !== undefined">Bravo à {{ gameState.lastWinner?.name }} qui à réussi à être le dernier impongsteur !</h2> 
    <TimerC class="timer" :countdown="gameState.countDown" :given-time="gameState.givenTime" size="6rem" />
    <LobbyPlayerListC :gameState="props.gameState"></LobbyPlayerListC>
</template>


<style lang="scss" scoped></style>