<script setup lang="ts" >
import { GameStateDto } from '../dto/GameStateDto';
import { inject } from 'vue';
import { ClientChannel } from '@geckos.io/client';
import PlayerC from "./PlayerC.vue";
defineProps<{
    gameState: GameStateDto
}>()
const currentPlayerId = inject<ClientChannel>('channel')?.id
</script>

<template>
    <section class="standby-players_section">
        <h2>Spectateurs</h2>
        <ul>
            <li v-for="player in gameState.lobbyPlayers" :key="player.id">
                <PlayerC :player="player" :isDetective="false" :currPlayerId="currentPlayerId" />
            </li>
        </ul>
    </section>
</template>


<style lang="scss" scoped>
.standby-players_section {
    flex: 0 1 auto;

    margin-top: calc(var(--factor) * 4rem);
    border-top: solid var(--color-white) calc(var(--factor) * 0.22rem);

    h2 {
        padding: calc(var(--factor) * .8rem) calc(var(--factor) * 1.5rem);
        font-size: calc(var(--factor) * 1.8rem);
        display: flex;
        justify-content: center;
        align-content: center;
        color: var(--color-white);
        background-color: var(--color-red-light);
    }
}
</style>