<script>
export default {
    name: "MessageC",
    props: ['message'],
}
</script>

<template>
    <div class="player-message_container">
        <p v-if="!!message">{{ message }}</p>
        <div v-if="!message" class="loader">
            <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg"
                 x="0px" y="0px" viewBox="0 26 50 43" enable-background="new 0 0 0 0" xml:space="preserve">
                <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
                  <animate
                          attributeName="opacity"
                          dur="1s"
                          values="0;1;0"
                          repeatCount="indefinite"
                          begin="0.1"/>
                </circle>
                <circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
                  <animate
                          attributeName="opacity"
                          dur="1s"
                          values="0;1;0"
                          repeatCount="indefinite"
                          begin="0.2"/>
                </circle>
                <circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
                  <animate
                          attributeName="opacity"
                          dur="1s"
                          values="0;1;0"
                          repeatCount="indefinite"
                          begin="0.3"/>
                </circle>
          </svg>
        </div>
    </div>

</template>


<style lang="scss" scoped>

.player-message_container {

  display: flex;
  align-items: stretch;
  justify-content: center;

  background-color: var(--color-black-light);
  border: solid var(--color-white) calc(.2rem * var(--factor));
  border-radius: 5px;
  color: var(--color-white);
  padding: .4rem .6rem;

  p {
    min-height: calc(2.5rem * var(--factor));;
  }

  .loader {
    width: calc(7rem * var(--factor));
    height: calc(2.5rem * var(--factor));

    > svg {
      width: 100%;
      height: 100%;
    }
  }
}


</style>