<script>
export default {
    name: "PlayerC",
    props: ['player', 'isDetective', 'currPlayerId'],
    setup(props) {
        return {
            getCssClasses: () => {
                let classeList = ["player"];
                if (props.isDetective) classeList.push("detective")
                if (props.currPlayerId === props.player.id) classeList.push("self")
                return classeList.join(" ")
            }
        }
    }
}

</script>

<template>
    <article :class="getCssClasses()">
        <p>{{ player?.name ?? "joueur inconnu" }}</p>
        <img class="avatar" :src="`img/${player?.avatar ?? 'bob'}.png`" alt="avatar du joueur"/>
        <img v-if="isDetective" src="img/loupe.png" alt="loupe"/>
    </article>
</template>

<style lang="scss" scoped>

@use "sass:color";

article {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;

  max-width: max-content;

  padding: calc(.4rem * var(--factor)) calc(.7rem * var(--factor));

  border-radius: 10px;

  background-color: var(--color-black-light);
  border: solid var(--color-white) calc(.2rem * var(--factor));

  &.self {
    border: solid var(--color-red) calc(.3rem * var(--factor));
  }

  p {
    grid-row: 1;
    grid-column: 1;

    //margin-right: calc(1rem * var(--factor));
    font-size: calc(1.75rem * var(--factor));
  }

  img {
    grid-row: 1;
    grid-column: 2;

    width: calc(2.4rem * var(--factor));
    height: 100%;
    object-fit: contain;
    min-height: 0;
    max-width: calc(4.25rem * var(--factor));
    max-height: calc(4.25rem * var(--factor));
  }

}


</style>