<script>
import TimerC from "./TimerC.vue";

export default {
    name: "SaisieC",
    components: {TimerC},
    props: ["timerSize", "countdown", "givenTime", "persoName", "isOpen"],
    data() {
        return {
            message: '',
        }
    }
}
</script>

<template>
    <div v-if="!!countdown && countdown > 0" class="popin">
        <form class="messageForm" @submit="$emit('sendMessage', message)">
            <label for="message">{{ !!question ? "Repondez" : "Posez une question" }} en tant que
                {{ persoName ?? "Bob l'éponge" }}</label>
            <input id="message" v-model="message" :placeholder="!!question ? 'ma reponse' : 'ma question'">
            <button class="sendMessage">📣</button>
        </form>
        <TimerC class="timer"
                :size="timerSize"
                :countdown="countdown"
                :given-time="givenTime" size="6rem"/>
    </div>
</template>

<style lang="scss" scoped>

.popin {
  position: fixed;

  z-index: 9000;

  width: 80vw;
  height: 15vh;

  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black);

  > form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    order: 2;

    padding: .5rem .5rem;
    margin-left: 1rem;
  }

  .timer {
    position: relative;
    order: 1;
  }
}

</style>