<script setup lang="ts" >
import { GameStateDto } from '../dto/GameStateDto';
import { inject } from 'vue';
import { ClientChannel } from '@geckos.io/client';
import PlayerC from "./PlayerC.vue";
import TimerC from "./TimerC.vue";
const props = defineProps<{
    gameState: GameStateDto,
    instructions: string,
    placeholder: string
}>()

const channel = inject<ClientChannel>('channel')
const currentPlayerId = channel?.id
let message = ''
</script>

<template>
    <aside class="popin">
        <form class="messageForm" v-on:submit.prevent="channel?.emit('speak', message, { reliable: true })">
            <label for="message">{{ instructions }}</label>
            <input id="message" v-model="message" :placeholder="placeholder">
            <button class="sendMessage">📣</button>
        </form>
        <TimerC class="timer" :countdown="gameState.countDown" :given-time="gameState.givenTime" size="6rem" />
    </aside>
</template>


<style lang="scss" scoped>
.popin {
    position: fixed;

    width: 100vw;
    height: 20vh;

    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black);

    >form {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: center;
        order: 2;

        flex: 1 1 100%;

        padding: .5rem .5rem;
        margin-left: 1rem;
    }

    .timer {
        position: relative;
        order: 1;
    }
}
</style>