<script>

export default {
    name: "Timer",
    props: ['size', "countdown", "givenTime"],
}
</script>

<template>
    <p :style="'--timer-size: '+size+';'+'--timer-countdown: '+countdown+';'+'--timer-givenTime: '+givenTime+';'"
       class="countdown">{{ Math.floor(countdown) }}</p>
</template>

<style lang="scss" scoped>
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--timer-size, 6rem);
  width: var(--timer-size, 6rem);
  color: var(--color-red);
  font-weight: 900;
  border-radius: 50%;
  border: 3px solid var(--color-red);
}

</style>