<script setup lang="ts">
import {provide, ref} from 'vue'
import {GameStateDto} from './dto/GameStateDto'
import geckos, { ClientChannel } from '@geckos.io/client'
import {FrameRate} from './controlers/FrameRate'
import {PlayerDto} from './dto/PlayerDto'
import {Player} from './entity/Player'
import MessageC from "./components/MessageC.vue";
import PlayerC from "./components/PlayerC.vue";
import SaisieC from "./components/SaisieC.vue";
import TimerC from "./components/TimerC.vue";
import IntermissionScreenC from "./components/IntermissionScreenC.vue";
import AskingQuestionScreenC from "./components/AskingQuestionScreenC.vue";
import AnsweringQuestionScreenC from "./components/AnsweringQuestionScreenC.vue";
import AccusationScreenC from './components/AccusationScreenC.vue'
import {AccusationsGameState} from "./entity/AccusationsGameState";

const channel = geckos({url: window.location.href, port: undefined})
const frameRate = new FrameRate()
const player = new Player()
const gameState = ref<GameStateDto>({
    inGamePlayers: [],
    lobbyPlayers: [],
    timeOfCreation_Milliseconds: Date.now(),
    name: 'not connected',
    countDown: 10,
    givenTime: 10,
    lastWinner: undefined
})
provide('channel', channel)

channel.onConnect(error => {
    player.id = channel.id?.toString() ?? ''

    if (error) {
        console.error(error.message)
        return
    }

    channel.emit('joinGame', player as PlayerDto, {reliable: true})

    channel.on('status', (gameStateDto) => {

        gameState.value = gameStateDto as GameStateDto

        frameRate.tick()
    })
})

</script>

<template>
    <h1>Bob L'Impongsteur</h1>
    <intermission-screen-c :gameState="gameState" v-if="gameState.name === 'IntermissionGameState'"></intermission-screen-c>
    <AskingQuestionScreenC :gameState="gameState" v-if="gameState.name === 'AskingQuestionGameState'"></AskingQuestionScreenC>
    <AnsweringQuestionScreenC :gameState="gameState" v-if="gameState.name === 'AnsweringQuestionGameState'"></AnsweringQuestionScreenC>
    <AccusationScreenC :gameState="gameState" v-if="gameState.name === 'AccusationsGameState'"></AccusationScreenC>
    <!-- <intermission-screen-c v-if="gameState.name === 'IntermissionGameState'"></intermission-screen-c>
    <intermission-screen-c v-if="gameState.name === 'IntermissionGameState'"></intermission-screen-c>
    <intermission-screen-c v-if="gameState.name === 'IntermissionGameState'"></intermission-screen-c>
    <intermission-screen-c v-if="gameState.name === 'IntermissionGameState'"></intermission-screen-c> -->
    
    <!-- <ActivePlayerListC :sendSpeech="sendSpeech" :players="gameState.inGamePlayers" :currPlayerId="channel.id" /> -->

</template>

<style lang="scss">
@import "assets/style/_reset.scss";
@import "assets/style/_global.scss";

body {
  font-family: sans-serif;
  background-image: url("public/img/deepsea.jpeg");
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  min-height: 100vh;

  h1 {
    flex: 0 0 auto;

    font-size: calc(var(--factor) * 2.5rem);
    padding: calc(var(--factor) * 0.8rem) calc(var(--factor) * 1.7rem);
    border-bottom: calc(var(--factor) * 0.3rem) solid var(--color-black);
    display: flex;
    justify-content: center;
    align-content: center;

    color: var(--color-black);
    background-color: var(--color-sponge);
  }


}

</style>
